@import "../../shared/styles/variables";
table {
  width: 800px;
  margin-left: 50px;
  img {
    width: 100px;
    height: 50px;
  }
}

input {
  width: 100%;
  height: 100%;
}
textarea {
  width: 100%;
  height: 100%;

  resize: none;
}
.category-container {
  width: 100%;
  button {
    border-radius: 10px;
    font-size: 14px;
  }
}
.textAction {
  margin-left: 50px;
  margin-bottom: 50px;
  width: 200px;
  height: 70px;
}
.mainAddCategory {
  margin-left: 50px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.newName,
.newTitle,
.newFile {
  width: 350px;
  height: 30px;
}
.newFile {
  margin-top: 20px;
}
.b-warn {
  background-color: orange;
}
.b-dang {
  background-color: #df5a5a;
  margin-right: 5px;
}
.add-action-btn {
  height: 35px;
  width: 120px;
  background-color: $primary;
}
.delete-img-btn {
  height: 35px;
  width: 120px;
  background-color: #df5a5a;
}
