<div class="footer-container">
  <section class="footer-section1">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/monosushi-85c62.appspot.com/o/images%2FheaderImg%2Flogo.svg?alt=media&token=fb5799b4-fea6-4534-afed-5a56c7c4350b"
      alt="..."
    />
    <div class="footer-info-about">
      <a href="#">Actions</a>
      <a href="#">Abaut</a>
      <a href="#">Offers</a>
    </div>
    <div class="footer-info-box">
      <div class="footer-info">
        <p><b>Pickup points</b></p>

        <p>St. Volodymyr the Great, 10th</p>
        <span>St. Chornovola, 95</span>
      </div>
      <div class="footer-info">
        <p><b> To order points</b></p>
        <p>(097) 878 08 37</p>
      </div>
      <div class="footer-info">
        <p><b>Work schedule</b></p>
        <p>We work from <b>11am</b> to <b>9pm</b></p>
      </div>
    </div>
  </section>
  <section class="footer-section2">
    <span>© 2023 Monosushi</span>
    <div class="footer-payment">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/monosushi-85c62.appspot.com/o/images%2FheaderImg%2Fpay-card-img-1.svg?alt=media&token=5c9a38fc-ceb5-40ea-8524-820d9e38b520"
        alt="..."
      />
      <img
        src="https://firebasestorage.googleapis.com/v0/b/monosushi-85c62.appspot.com/o/images%2FheaderImg%2Fpay-card-img-2.svg?alt=media&token=2fde2a8b-32e1-4eee-874b-7fec096d225b"
        alt="..."
      />
      <img
        src="https://firebasestorage.googleapis.com/v0/b/monosushi-85c62.appspot.com/o/images%2FheaderImg%2Fpay-card-img-3.svg?alt=media&token=c148374d-cabf-4681-8aee-e3d6be550622"
        alt="..."
      />
    </div>
    <div class="footer-our-pages">
      <span>Follow us</span>
      <a href="#"
        ><img
          src="https://firebasestorage.googleapis.com/v0/b/monosushi-85c62.appspot.com/o/images%2FheaderImg%2Ffacebook-icon.svg?alt=media&token=ccad3f9c-7e85-43f9-bb4a-0e2c081a9760"
          alt="..."
      /></a>
      <a href="#"
        ><img
          src="https://firebasestorage.googleapis.com/v0/b/monosushi-85c62.appspot.com/o/images%2FheaderImg%2Finstagram-icon.svg?alt=media&token=0676a2c9-5fc5-44d2-bfe1-41782fb9a4a8"
          alt="..."
      /></a>
    </div>
    <a>Made by <b>Valleram</b></a>
  </section>
</div>
