@import "../../shared/styles/variables";
.profile-container {
  margin: 100px;
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
}

.profile-type {
  width: 200px;
  button {
    margin-bottom: 20px;
    width: 100%;
    height: 60px;
    background-color: #fff;
    border: 1px solid silver;
    transition-duration: 0.2s;
    font-size: 16px;
    font-weight: 600;
    color: rgb(78, 76, 76);
  }
  .active-user {
    border: none;
    border-top: 6px solid $primary;
    color: #79bcf7;
  }
}

/////////////////////////////////////////////////////////
@media screen and (max-width: 1050px) {
  .profile-container {
    margin: 20px;
    margin-top: 110px;
  }

  .profile-type {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    button {
      margin-bottom: 0px;
      width: 32%;
      height: 40px;
      font-size: 12px;
    }
  }
  form {
    width: 100%;
  }
  .profile-data {
    margin-left: 0px;
    width: 100%;
    h2 {
      font-size: 22px;
    }

    input {
      padding-left: 10px;
      height: 30px;
      font-size: 14px;
    }
    button {
      height: 30px;
      font-size: 14px;
    }
    button:hover {
      background-color: $primary;
    }
  }
}
