<div class="spacerMT" style="height: 120px"></div>
<div class="centerInfo">
  <span class="centerInfoTitle">More info about us</span>
</div>
<div class="spacerSM"></div>
<div class="topInfo">
  <h3>Monosushi - delivery of incredibly tasty sushi</h3>
  <p>
    The main priority is the high quality of food and service. We are a team of
    professionals who work every day for You. Quality and Speed! - these are the
    two main priorities in the work of the team. First of all, of course
    Quality. Sushi is prepared without delay, immediately after your order. And
    thanks to modern technologies and responsible training of employees, fresh
    meals can be delivered in 59 minutes in 75% of orders.
  </p>
  <ul>
    <li class="li-before">high quality of food and service</li>
    <li class="li-before">a team of professionals</li>
    <li class="li-before">modern cooking technologies</li>
  </ul>
</div>
<!-- //// -->
<div class="about-info-withImg">
  <div>
    <img
      src="https://firebasestorage.googleapis.com/v0/b/monosushi-85c62.appspot.com/o/images%2FaboutImg%2Fimg_1127-scaled-568x568.jpg?alt=media&token=61b1fd6c-a948-4e73-bc10-acb978258540"
      alt="..."
    />
  </div>
  <div class="half-info">
    <h3>Hello! Shall we meet?</h3>
    <div class="spaceDiv"></div>
    <p>
      <b>Monosushi</b> is the delivery of the tastiest sushi in Lviv, which was
      created by a team of perfectionists. Two friends who adore roles decided
      to create a product that they lacked on the Lviv market. A product in
      which everything will be perfect: taste, packaging, service and all this
      at a loyal price!
    </p>
  </div>
</div>
<!-- ///// -->
<div class="about-info-withImg">
  <div class="half-info">
    <h3>Our priority is your smile of pleasure</h3>
    <div class="spaceDiv"></div>
    <p>
      <b>Monosushi</b> is the delivery of one (mono) product. Rolls have long
      become an ordinary dish, but the process of their preparation still
      remains a whole art. Sushi must be prepared according to a clear
      technology, strictly following traditions. And we are real experts in
      this! Are you in doubt? Then order Monosushi free delivery and enjoy.
    </p>
  </div>
  <div>
    <img
      src="https://firebasestorage.googleapis.com/v0/b/monosushi-85c62.appspot.com/o/images%2FaboutImg%2Fimg_8051-fish.jpeg?alt=media&token=e9962934-02cf-4c68-b431-6cb86420dbdc"
      alt="..."
    />
  </div>
</div>
<!-- ///// -->
<div class="about-questions">
  <h3>The most popular questions</h3>

  <div class="question-box" (click)="maxHeight2(hh1)" #hh1>
    <h5>
      How can I order if our address is not in your delivery area?<button
        type="button"
      >
        >
      </button>
    </h5>
    <p>If your address is outside our delivery area, you can:</p>
    <p>
      Pick up the order by pickup at one of our addresses. (In this case, you
      will receive "Baked mono maki with salmon as a gift).
    </p>
    <p>
      Find out from the operator whether it is possible to make an exception for
      delivery outside the zone at this time.
    </p>
  </div>

  <div class="question-box" (click)="maxHeight2(hh2)" #hh2>
    <h5>How long to wait for the order?<button type="button">></button></h5>
    <p>Delivery time depends on the order address.</p>
    <p>Delivery to the green zone - up to 1 hour.</p>
    <p>Delivery to the yellow zone - up to 1.5 hours.</p>
  </div>

  <div class="question-box" (click)="maxHeight2(hh3)" #hh3>
    <h5>Is shipping free?<button type="button">></button></h5>
    <p>
      Yes, delivery is free with a minimum order amount of UAH 200 in the green
      delivery zone and UAH 300 in the yellow zone.
    </p>
  </div>

  <div class="question-box" (click)="maxHeight2(hh4)" #hh4>
    <h5>
      What time do you accept orders?
      <button type="button">></button>
    </h5>
    <p>
      We accept orders every day from 11:00 a.m. to 9:30 p.m. (in connection
      with the curfew)
    </p>
  </div>
</div>
