@import "../../shared/styles/mixins";
@import "../../shared/styles/variables";
@import "../../shared/styles/header-menu";

.rolls-container {
  width: 100%;
  margin-top: 120px;
}

.allProducts-box {
  @include dAndaAndj(flex, space-between, center);
  flex-wrap: wrap;
}
.productCard {
  @include dAndaAndj(flex, center, flex-end);
  width: 25%;
  min-height: 550px;
  padding: 20px;
}
.productCard-data {
  @include dAndaAndj(flex, center, center);
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  min-height: 550px;
  border: 2px solid transparent;
  cursor: pointer;
  h3 {
    width: 100%;
    text-align: center;
    font-size: 20px;
  }
}

.productCard-consist {
  span {
    display: block;
    width: 50px;
    text-align: right;
  }
  @include wAndH(100%, 100%);
  @include dAndaAndj(flex, space-between, center);
}
.productCard-controls {
  margin: 10px 0;
  @include wAndH(100%, 100%);
  @include dAndaAndj(flex, space-between, center);
  button {
    outline: 2px solid $primary;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: $primary;
  }
  button:hover {
    background-color: #fff;
  }
}
.productCard-count {
  border: 1px solid silver;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 30px;
  button {
    outline: 2px solid transparent;
    height: 80%;
    font-size: 20px;
    padding: 0;
    border-radius: 5px;
    background-color: transparent;
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
  }
  button:hover {
    background-color: $primary;
  }
  span {
    text-align: center;
    display: block;
    width: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .productCard {
    @include dAndaAndj(flex, center, flex-end);
    width: 33%;
    min-height: 450px;
  }
  .productCard-data {
    min-height: 450px;
  }
}
@media screen and (max-width: 990px) {
  .productCard {
    @include dAndaAndj(flex, center, flex-end);
    width: 50%;
    min-height: 350px;
  }
  .productCard-data {
    min-height: 350px;
  }
}
@media screen and (max-width: 680px) {
  .rolls-categorys-box {
    display: none;
  }
  .productCard {
    @include dAndaAndj(flex, center, flex-end);
    width: 100%;
  }
}
