<div class="spacerMT" style="height: 120px"></div>
<div class="centerInfo">
  <span class="centerInfoTitle">Payment and delivery</span>
</div>
<div class="delivery-box">
  <div class="delivery-box-one">
    <div class="scooter">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/monosushi-85c62.appspot.com/o/images%2FPaymentDelivery%2Fmn-delivery-img.svg?alt=media&token=825918fd-39e5-4450-819f-a8e864a6cc29"
        alt="roll"
      />
    </div>
    <div class="text-after-scooter">
      <h3 style="color: green"><b>Green zone</b></h3>
      <p>
        Within the green zone, we deliver within
        <b style="color: green">1 hour.</b>
      </p>
      <p>
        The minimum order amount in this zone is
        <b style="color: green">UAH 300</b>
      </p>
    </div>
  </div>
  <div class="delivery-box-two">
    <div class="scooter">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/monosushi-85c62.appspot.com/o/images%2FPaymentDelivery%2Fmn-delivery-img.svg?alt=media&token=825918fd-39e5-4450-819f-a8e864a6cc29"
        alt="roll"
      />
    </div>
    <div class="text-after-scooter">
      <h3 style="color: #f2c94c"><b>Yellow zone</b></h3>
      <p>
        Within the yellow zone, we deliver within
        <b style="color: #f2c94c">1.5 hours.</b>
      </p>
      <p>
        The minimum order amount in this zone is
        <b style="color: #f2c94c">UAH 400</b>
      </p>
    </div>
  </div>
</div>
<div class="serch-div">
  <input
    type="text"
    id="autocomplete"
    #autocomplete
    placeholder="Write main words and choose address below"
  />
</div>
<div class="map" id="map" #mapElement></div>
<h1><b>Payment</b></h1>
<div class="type-payment">
  <div class="first-type">
    <div class="dv1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/monosushi-85c62.appspot.com/o/images%2FPaymentDelivery%2Fpay-info-img-3.svg?alt=media&token=3b5b0eb5-0910-4cfa-a73d-733b73d4eace"
        alt="cash"
      />
    </div>
    <div class="dv2">
      <h3><b>Pay by cash</b></h3>
      <p>Pay for your favorite dryers with cash on delivery.</p>
    </div>
  </div>
  <div class="second-type">
    <div class="dv1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/monosushi-85c62.appspot.com/o/images%2FPaymentDelivery%2Fpay-info-img-1.svg?alt=media&token=ddac3a7c-c6c0-4bb1-858d-a898a6240886"
        alt="cash"
      />
    </div>
    <div class="dv2">
      <h3><b>Pay by credit-card</b></h3>
      <p>Pay for your favorite dryers online or by card upon receipt.</p>
    </div>
  </div>
</div>
<p class="myP">
  We offer you the 3 most common payment options: cash, online payment or card
  payment.
</p>
<p class="myP">
  Just select the most convenient payment method for you when placing an order
  on the website or inform the operator about it by phone.
</p>
<p class="myP">
  "Monosushi" delivery means clear work standards, a high level of service and
  care for each guest. We are evolving every day to hear just three words
  "Monosushi is love".
</p>


